$trackpointerwidth: 1px;
$trackpointerheight: 20px;
$trackpointerwidth: 1px;
$trackpointerborder: 1px solid #000000;



$trackheight: 1px;
$trackbackground: #111111;
html {  box-sizing: border-box;}
*,*::before,*::after {  box-sizing: inherit;}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {  margin: 0;  padding: 0;}

body {
  font-family: 'IBM Plex Sans', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 11px;
  @media (min-width: 1800px) {
    font-size: 15px;
  }
}

.light {
  background: #ffffff;
  color: #000000;
  aside.about,
  input,
  label {
    background: #ffffff;
  }
  input,
  label {
    color: #000000;
  }
}
.grey {
  color: #1a1a1a;
  background: #f0f0f0;
  aside.about,
  input,
  label {
    background: #f0f0f0;
  }
  color: #1A1A1A;
}
.dark {
  color: #ffffff;
  background: #1a1a1a;
  aside.about,
  input,
  label {
    background: #1a1a1a;
  }
  input,
  label {
    color: #ffffff;
  }
  svg,
  path {
    fill: #ffffff;
  }
  #lottie-player {
    svg,
    path {
      stroke: #fff;
    }
  }
}

// header
.opal-header {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: relative;
  padding: 0 40px;
  padding: 40px 40px 0 40px;

  .opal-logo,
  .hobbes-logo {
      max-width: 20px;
  }
  .hobbes-logo {

  }
}

// main
.opal-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.form-grid {
  display: flex;
  width: calc(100% - 120px);
  margin: 0 auto;
  padding-top: 180px;
  justify-content: center;
  flex: 1;


  .grid-container,
  .form-preview {
    width: 420px;

  }
  .grid-container {
    margin-right: 100px;
    position: relative;

    #lottie-player,
    .lottie-grid {
      position: absolute;
    }

    #lottie-player {
      padding: 3.33%;
      margin-top: 33px;
      width: 100%;
    }
    .lottie-grid {
      width: 100%;
      padding: 33px 0;

      @media (max-width: 750px) {
        display: none;
      }

      .icon {
        float: left;
        width: 7%;
        padding-bottom: 7%;
        border: 1px solid transparent;
        box-sizing: border-box;
        margin: 1.07% 1.5% 1.5%;

        &:hover {
          cursor: pointer;
        }

      }
    }
  }
  .form-preview {
    margin-left: 100px;
    padding-top: 45px;

    @media (max-width: 750px) {
      width: 100%;
    }

    #preview {
      width: 218px;
      height: 218px;
      margin: 0 auto;
      transform: translate3d(0,0,0);
      text-align: center;

      @media (max-width: 750px) {
        width: 80%;
        height: auto;
      }
    }
    .color-values {
      padding: 0.75em;
      display: flex;
      justify-content: space-between;
      span.hex-display {
        text-transform: uppercase;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      fieldset {
        padding: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        border: 0;
      }
      .color-edit,
      .scale-edit,
      .stroke-edit,
      .duration-edit {
        .field-labels {
          display: flex;
          width: 100%;
          justify-content: space-between;
          input {
            width: 5ch;
            text-align: right;
            border: none;

            &:focus {
              outline: none;
            }
          }
        }
        input[type='range'] {
          display: block;
          width: 100%;
          font-size: 1em;
        }
      }

      button {
        font-family: "IBM Plex Mono", monospace;
        font-size: 1em;
        border: none;
        background: transparent;
        align-self: flex-end;
        padding-right: 12px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline-color: #000fff;
          outline-style: solid;
          outline-width: 2px;
        }
      }


    }


  }
}

// footer
footer {

  .hobbes-about,
  .color-picker {
    position: fixed;
    bottom: 40px;
  }
  .hobbes-about {
    cursor: pointer;
    left: 40px;
  }

  .color-picker {
    position: fixed;
    right: 40px;
    display: flex;



    #light,
    #grey,
    #dark {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
    #light {
      border: 1px solid #1A1A1A;
      background: #ffffff;
    }
    #grey {
      background: #F0F0F0;
      border: 1px solid #F0F0F0;
    }
    #dark {
      border: 1px solid #1A1A1A;
      background: #1A1A1A;
    }
    #grey,
    #dark {
      margin-left: 15px;
    }
  }
}


// Aside
.about {
  background: #fff;
  width: 360px;
  position: absolute;
  padding: 60px;
  padding-top: 210px;
  // temporary
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform .2s ease;
  box-shadow: 2px 2px 39px #eee;
  &.expanded {
    transform: translateX(0);
    // temporary
    box-shadow: 2px 2px 39px #eee;
  }
  h1 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  p {
    line-height: 1.5;
    margin-bottom: 1em;
  }
  a {
    color: inherit;
  }
}
