$trackpointerwidth: 1px;
$trackpointerheight: 20px;
$trackpointerwidth: 1px;
$trackpointerborder: 1px solid #000000;
$white: #ffffff;
$black: #000000;
$offblack: #1A1A1A;
$grey: #f0f0f0;


$trackheight: 1px;
$trackbackground: #111111;
html {  box-sizing: border-box;}
*,*::before,*::after {  box-sizing: inherit;}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {  margin: 0;  padding: 0;}

body {
  font-family: 'IBM Plex Sans', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 11px;
  @media (min-width: 1800px) {
    font-size: 15px;
  }
}

.default {
  background: $white;
  color: $black;
  aside.about,
  input,
  label {
    background: $white;;
  }
  input,
  label {
    color: $black;
  }
  #light {
    border: 1px solid $black;
  }
}
.grey {
  color: $offblack;
  background: $grey;
  aside.about,
  input,
  label {
    background: $grey;
  }
  color: $offblack;

  // color icons
  #grey {
    border: 1px solid $offblack;
  }
}
.dark {
  color: $white;
  background: $offblack;
  aside.about,
  input,
  label {
    background: $offblack;
  }
  input,
  label {
    color: $white;
  }
  #lottie-grid {
    svg,
    path {
      fill: $white;
    }
  }

  #lottie-player {
    svg,
    path {
      stroke: $white;
    }
  }
  #dark {
    border: 1px solid $white;
  }
  .about {
    &.expanded {
      box-shadow: 2px 2px 40px $black;
    }
  }
}

// header
.opal-header {
  // display: flex;
  // position: sticky;
  // position: -webkit-sticky;
  // position: -moz-sticky;
  // position: -ms-sticky;
  // position: -o-sticky;
  // position: relative;
  // padding: 0 40px;
  // padding: 40px 40px 0 40px;

  .opal-logo,
  .hobbes-logo {
    max-width: 20px;
    position: fixed;
    z-index: 2;
    top: 40px;
  }
  .opal-logo {
    left: 40px;
  }
  .hobbes-logo {
    right: 40px;
  }
}

// main
.opal-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.form-grid {
  display: flex;
  // width: calc(100% - 120px);
  margin: 0 auto;
  // padding-top: 180px;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  // flex: 1;
  width: 100vw;
  // background: lightblue;


  .grid-container,
  .form-preview {
    width: 420px;

  }
  .grid-container {
    // margin-right: 100px;
    top: -16%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(0%);
    position: relative;

    #lottie-player,
    .lottie-grid {
      position: absolute;
    }

    #lottie-player {
      padding: 3.33%;
      // margin-top: 33px;
      width: 100%;
    }
    .lottie-grid {
      width: 100%;
      // padding: 33px 0;

      @media (max-width: 750px) {
        display: none;
      }

      .icon {
        float: left;
        width: 7%;
        padding-bottom: 7%;
        border: 1px solid transparent;
        box-sizing: border-box;
        margin: 1.07% 1.5% 1.5%;

        &:hover {
          cursor: pointer;
        }

      }
    }
  }
  .form-preview {
    // margin-left: 100px;
    padding-top: 45px;

    @media (max-width: 750px) {
      width: 100%;
    }

    #preview {
      width: 218px;
      height: 218px;
      margin: 0 auto;
      transform: translate3d(0,0,0);
      text-align: center;

      @media (max-width: 750px) {
        width: 80%;
        height: auto;
      }
    }
    .color-values {
      padding: 0.75em;
      display: flex;
      justify-content: space-between;
      span.hex-display {
        text-transform: uppercase;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      font-size: 10.5px;
      fieldset {
        padding: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        border: 0;
      }
      .color-edit,
      .scale-edit,
      .stroke-edit,
      .duration-edit {
        .field-labels {
          display: flex;
          width: 100%;
          justify-content: space-between;
          input {
            width: 5ch;
            text-align: right;
            border: none;
            font-size: 1em;

            &:focus {
              outline: none;
            }
          }
        }
        input[type='range'] {
          display: block;
          width: 100%;
          margin: 10px auto;
        }
      }

      button {
        font-family: "IBM Plex Mono", monospace;
        font-size: 1em;
        border: none;
        background: transparent;
        align-self: flex-end;
        padding-right: 12px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline-color: #000fff;
          outline-style: solid;
          outline-width: 2px;
        }
      }
      input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            background: transparent;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      // Webkit
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: $trackpointerborder;
        height: $trackpointerheight;
        width: $trackpointerwidth;
        cursor: pointer;
        margin-top: -10px;
      }
      // Firefox Styling
      input[type=range]::-moz-range-thumb {
        border: $trackpointerborder;
        height: $trackpointerheight;
        width: $trackpointerwidth;
        cursor: pointer;
      }
      // Internet Explorer Styling
      input[type=range]::-ms-thumb {
        border: $trackpointerborder;
        height: $trackpointerheight;
        width: $trackpointerwidth;
        cursor: pointer;
      }

      // Track Styling
      input[type=range]::-webkit-slider-runnable-track {
        margin-right: 5px;
        width: 100%;
        height: $trackheight;
        cursor: pointer;
        background: $trackbackground;
        border-radius: 1.3px;
        border: $trackpointerborder;
      }

      input[type=range]:focus::-webkit-slider-runnable-track {
        background: $trackbackground;
      }

      input[type=range]::-moz-range-track {
        margin-right: 5px;
        width: 100%;
        height: $trackheight;
        cursor: pointer;
        background: $trackbackground;
        border-radius: 1.3px;
        border: $trackpointerborder;
      }

      input[type=range]::-ms-track {
        margin-right: 5px;
        width: 100%;
        height: $trackheight;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: $trackbackground;
        border: $trackpointerborder;
        border-radius: 2.6px;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: $trackbackground;
      }
      input[type=range]::-ms-fill-upper {
        background: $trackbackground;
        border: $trackpointerborder;
        border-radius: 2.6px;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: $trackbackground;
      }
      // Color Range Sliders
      // Hue
      input[type=range]#hueID::-webkit-slider-runnable-track {
        background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#hueID:focus::-webkit-slider-runnable-track {
        background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#hueID::-moz-range-track {
        background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#hueID::-ms-fill-lower  {
        background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#hueID:focus::-ms-fill-lower {
        background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#hueID::-ms-fill-upper {
        background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#hueID:focus::-ms-fill-upper {
        background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
        border: 1px transparent ;
        height: 2px;
      }

      // Saturation
      input[type=range]#saturationID::-webkit-slider-runnable-track {
        background: transparent;
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#saturationID:focus::-webkit-slider-runnable-track {
        background: transparent;
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#saturationID::-moz-range-track {
        background: transparent;
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#saturationID::-ms-fill-lower  {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      input[type=range]#saturationID:focus::-ms-fill-lower {
        background: transparent;
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#saturationID::-ms-fill-upper {
        background: transparent;
        border: 1px transparent ;
        height: 2px;
      }
      input[type=range]#saturationID:focus::-ms-fill-upper {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }

      // Lightness
      input[type=range]#lightnessID::-webkit-slider-runnable-track {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      input[type=range]#lightnessID:focus::-webkit-slider-runnable-track {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      input[type=range]#lightnessID::-moz-range-track {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      input[type=range]#lightnessID::-ms-fill-lower  {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      input[type=range]#lightnessID:focus::-ms-fill-lower {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      input[type=range]#lightnessID::-ms-fill-upper {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      input[type=range]#lightnessID:focus::-ms-fill-upper {
        border: 1px transparent ;
        background: transparent;
        height: 2px;
      }
      #visibleHue,
      #visibleLightness,
      #visibleSaturation {
        height: 2px;
        position: relative;
        top: 4px;
        margin: 0 2px;
        z-index: -1;
      }
      #visibleLightness {
        background:linear-gradient(to right, black, grey, lightgrey, white);

      }
      #visibleSaturation {
        background: linear-gradient(to right, hsl(0, 0%, 50%), hsl(0, 10%, 50%), hsl(0, 20%, 50%), hsl(0, 30%, 50%), hsl(0, 40%, 50%), hsl(0, 50%, 50%), hsl(0, 60%, 50%), hsl(0, 70%, 50%), hsl(0, 80%, 50%), hsl(0, 90%, 50%), hsl(0, 100%, 50%));
      }

    }


  }
}

// footer
footer {

  .hobbes-about,
  .color-picker {
    position: fixed;
    bottom: 40px;
  }
  .hobbes-about {
    cursor: pointer;
    left: 40px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    img,
    svg {
      vertical-align: middle;
    }
  }

  .color-picker {
    position: fixed;
    right: 40px;
    display: flex;



    #light,
    #grey,
    #dark {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
    #light {
      background: #ffffff;
    }
    #grey {
      background: #F0F0F0;
    }
    #dark {
      background: #1A1A1A;
    }
    #grey,
    #dark {
      margin-left: 15px;
    }
  }
}


// Aside
.about {
  background: #fff;
  width: 360px;
  position: absolute;
  padding: 60px;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform .5s ease, box-shadow .5s ease;
  box-shadow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.expanded {
    transform: translateX(0);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.07);
  }
  .about-content {
    height: 424px;
  }
  h1 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  p {
    line-height: 1.5;
    margin-bottom: 1em;
  }
  a {
    color: inherit;
  }
}
